</main>

<footer id="mainFooter">

  <div class="footerBottomSection">
    <div class="footerContact">
      <img src="/images/logo-rounded.png" alt="Basscoffee logo">
      <h1>BASSCOFFEE</h1>
      <p>+420 737 190 091</p>
      <p>basscoffee.crew@gmail.com</p>
    </div>
    <div class="socialIcons">
      <a href="https://soundcloud.com/basscoffee" target="_blank"><img src="/images/soundcloud.png" alt="Soundcloud logo"></a>
      <a href="https://www.facebook.com/basscoffee.cz/" target="_blank"><img src="/images/instagram.png" alt="Instagram logo"></a>
      <a href="https://www.instagram.com/basscoffee/" target="_blank"><img src="/images/facebook.png" alt="Facebook logo"></a>
  </div>
  <a href="https://raevtech.com/" target="_blank"><img src="/images/raevtech.png" alt="RAEVTECH s.r.o."></a>
    <p>Copyright © <%= new Date().getFullYear() %> | <a href="https://raevtech.com/" target="_blank">Správa webu</a></p>
  </div>
</footer>
</body>

</html>